body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  select{
    width: 60px;
  }
  option{
    text-decoration: none;
  }
  .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  .box {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    /* padding: 8/px; */
  }
  .box:hover,
  .box.active {
    border-color: #008000;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3);
    background-color: #d4ecd4;
  }
  .box-content {
    display: none;
    margin-top: 10px;
    margin-left: 20px;
  }
  .box.active .box-content {
    display: block;
  }
  .price {
    font-weight: bold;
    color: #333;
    padding-left: 30px;
  }
  .discount {
    color: green;
    font-weight: bold;
    padding-left:180px;
    
  }
  @media only screen and (max-width: 376px) {
body {
.discount {
    color: green;
    font-weight: bold;
    padding-left:140px;
  }
}

}

@media only screen and (max-width: 320px) {
body {
.discount {
    color: green;
    font-weight: bold;
    padding-left:90px;
  }
}

}

@media only screen and (max-width: 319px) {
body {
.discount {
    color: green;
    font-weight: bold;
    padding-left:60px;
  }
}

}
  button {
    width: 100%;
    padding: 10px;
    background: #008000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .total{
    padding-left: 40px;
  }
  @media only screen and (max-width: 425px) {
body {
.total{
    padding-left: 40px;
  }
}

}
@media only screen and (max-width: 375px) {
body {
.total{
    padding-left: 20px;
  }
}

}
@media only screen and (max-width: 320px) {
body {
.total{
    padding-left: 0px;
    /* font-size: 10px; */
  }
}

}